/*  -----------------------------LAYOUT------------------------------------ */
head{
    
}

body{   
    background-size: 500px 600px;
    background-repeat: no-repeat;
    font-family: Georgia, "Times New Roman". serif;
    text-align: center;
    font-size: 1em;
}

h1{
    color: #fff;
    position:centered;
    top: 0px;
    left: 0px;
    padding: 10px;
    margin: auto;
    width:630px;
    background-color: #77d2e5;}

content {
    
}

.header{
    margin: 40px 0px 20px 0px
}
input{
    padding: 6px 12px 6px 12px;
    border: 1px solid #665544;
    color: #050702;}
input.submit.hover{
    background-color: #665544;}
input.submit:active{
    background-color: chocolate;}
input.text{
    color:  chocolate;}
input.text.focus{
    color: #665544;}

#road
{
    margin:auto;
    margin-top: 15px;
position: relative;
height:250px;
background: url("images/road.jpg");
width:650px;

}



#car { 
margin:auto;
position: absolute; 
       bottom:30px; 
       left: 20px; } 


.car_img
{
-webkit-transition: 2s ease-in-out;
}

.car_img:hover
{
-webkit-transform: translate(320px,0px);
} 

.car_img:active
{
-webkit-transform: translate(320px,0px);
} 
 
#fuel {
    margin:auto;
    position: relative;
    height:190px;
    width: 300px;
    background: url("images/fuel.JPG") no-repeat center;
}

#needle img{
    position: absolute;
    transform: rotate(-95deg);
    left: 50px;
    top: 60px;
    -webkit-animation: rotate 3s linear;
    animation: rotate 3s linear;
}

#needle {
    -webkit-animation: move-y 3s linear;
    animation: move-y 3s linear;
}
#needleX {
    -webkit-animation: move-x 3s linear;
    animation: move-x 3s linear;
}

@-webkit-keyframes rotate {
    0% { -webkit-transform: rotate(-95deg); }
   100% { -webkit-transform: rotate(5deg); }
}


@-webkit-keyframes move-x {
    0% { -webkit-transform: translateX(0px); }
    100% { -webkit-transform: translateX(140px);  }
}
   
@-webkit-keyframes move-y {
    0% { -webkit-transform: translateY(0px); }
    25% { -webkit-transform: translateY(-10px); }
    50% { -webkit-transform: translateY(-15px); }
    75% { -webkit-transform: translateY(-10px); }
    100% { -webkit-transform: translateY(0px);  }
}
        
       
@keyframes rotate {
    0% { -webkit-transform: rotate(-95deg); }
   100% { -webkit-transform: rotate(5deg); }
}


@keyframes move-x {
    0% { -webkit-transform: translateX(0px); }
    100% { -webkit-transform: translateX(140px);  }
}
   
@keyframes move-y {
    0% { -webkit-transform: translateY(0px); }
    25% { -webkit-transform: translateY(-10px); }
    50% { -webkit-transform: translateY(-15px); }
    75% { -webkit-transform: translateY(-10px); }
    100% { -webkit-transform: translateY(0px);  }
}



#currentMpg, #averageMpg {
    font-size: 2em;
    font-family: garamond, serif;
}

select {
    padding: 5px;
}

#errors{
    color: red;
}





/* Generic media query */

@media screen 
  and (min-width: 200px) 
  and (max-width: 700px) 
 {

      body{   
    font-size: 1.5em;
}

h1{
    width:95%;
}


input{
    padding: 10px 15px 10px 15px;
}

select {
    font-size: .9em;
}

#road
{
width:95%;
}


}

